input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.itemCatalogueCardThumbnail {
    width: 15vw;
    object-fit: contain;
}

.itemCatalogueSections {
    width: 100%;
    height: 100%;
    padding: 8px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
}

.homeContent {
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.itemDetailsColumn {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.itemDetailsContainer {
  padding: 8px 16px;
}

.itemDetailsRow {
  width: 100%;

  display: flex;
  flex-direction: row;
}

.itemDetailsImg {
  width: 100%;
  height: 40vw;

  object-fit: contain;
}

.itemDetailsImageCarousel {
  align-items: center;
  justify-content: space-between;
  position: relative;

  gap: 16px;
  padding: 0 16px;
  background-color: #98B59A; /* secondary light */
  border-radius: 8px;
  margin: 8px 0;
}

.itemDetailsImageCarouselInfo {
  height: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;

  justify-content: space-between;
  align-items: center;
}

.itemDetailsImageCarouselTags {
  gap: 4px;
  padding: 8px 0;
}

.itemDetailsRightSec {
  width: 60%;

  background-color: #BCC9B9;
  border-radius: 8px;
  padding-left: 16px;
}

.itemDetailsRowAlignment {
  gap: 8px;
  align-items: center;
}

.itemDetailsPurchaseSec {
  gap: 8px;
  padding-right: 16px;
}

.itemDetailsPriceContainer {
  border: 1px solid #3A6844;
  padding: 8px;
  border-radius: 32px;
  width: fit-content;
  text-wrap: nowrap;
}

.itemDetailsLeftSec {
  gap: 8px;
}

.itemDetailsReviewList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
  
}