:root {
    --ad-background-color: #519872;
    --ad-thumbnail-background-color: #A4B494;
    --ad-text-color: #34252F;
    --ad-subtext-color: #3B5249;
}

.filterAndSort {
    width: 30%;
    height: 90vh;
    padding: 16px;
    border: 1px solid #BCC9B9;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.adBanner {
    background-color: var(--ad-background-color);
    border-radius: 4px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.adBanner div {
    padding: 16px;
}

.adBannerImage {
    height: 15vh;
    width: 30%;
    object-fit: contain;
    background-color: var(--ad-thumbnail-background-color);

    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    border-radius: 0 4px 4px 0;
}

.adBanner span {
    color: var(--ad-text-color);
    font-size: 30px;
    font-family: Papyrus,fantasy;
}

.adBanner p {
    color: var(--ad-subtext-color);
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

.adBannerLandscape {
    width: 100%;
    height: 15vh;
}

.adBannerPotrait {
    height: 100%;
    width: 15vh;
}

.adBannerSquare {
    width: 100%;
    height: 100%;
}