.filterAndSort {
    width: 30%;
    height: 90vh;
    padding: 16px;
    border: 1px solid #4A6D57;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}